@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
.demo-layout-transparent {
  background: #34495e;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.postcard{
  max-width: 1000px;
}

.content{
  padding: 16px;
}

img{
  width: 100%;
}

blockquote, q {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

blockquote::before, blockquote::after{
  display: none;
}
