---
layout: default
title: Recent Posts
---

    {% for post in paginator.posts %}
    <div class="mdl-card mdl-cell mdl-cell--12-col postcard" align="start">
               <div class="mdl-card__media mdl-color-text--grey-50"
               style="{% if post.image %}background: linear-gradient( rgba(0, 0, 0, 0.4),
               rgba(0, 0, 0, 0.4) ), url('{{ post.image }}')center / cover;{% endif %}
               padding:16px;">
                 <a href="{{ site.baseurl }}/{{ post.url }}"><h3 style="color:white;">{{ post.title }}</h3></a>
               </div>
               <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                 {{ post.content | strip_html | truncatewords:60 }}
                  </div>
               <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                 <div class="minilogo"></div>
                 <div>
                   <hr>
                   <table><tr><td><i class="material-icons">today</i></td><td>{{ post.date | date: "%Y.%m.%d" }}</td></tr></table>
                 </div>
               </div>
             </div>


{% endfor %}

<h4 style="color:white;">Page {{ paginator.page }} of {{ paginator.total_pages }}</h4>

<table align="center" style="padding-bottom:160px;">
  <tr>
    <td style="padding-right:16px;">
      <a href="{% if paginator.next_page %}{{ site.baseurl }}/{{ paginator.next_page_path }}{% else %}{% endif %}" class="demo-nav__button">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
          <i class="material-icons">arrow_back</i>
          </button>
            <b style="color:white;">Older</b>
        </a>
      </td>
      <td style="padding-left:16px;">
        <a href="{% if paginator.previous_page %}{{ site.baseurl }}/{{ paginator.previous_page_path }}{% else %}{% endif %}" class="demo-nav__button">
         <b style="color:white;">Newer</b>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
          <i class="material-icons">arrow_forward</i>
        </button>
       </a>
     </td>
   </tr>
 </table>
