---
layout: default
title: Tags
permalink: /tags/
---

  <div class="mdl-card mdl-cell mdl-cell--12-col postcard" align="start">
    <section class="content">
       {% for tag in site.tags %}
       <a href="#{{ tag | first }}">
         <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
           # {{ tag | first }}
         </button>
       </a>
       {% endfor %}
     </section>
      </div>

      <div class="mdl-card mdl-cell mdl-cell--12-col postcard content" align="start">

      {% for tag in site.tags %}
  <h4 id="{{ tag | first }}"># {{ tag | first }}<h4>
  {% for posts in tag %}
    {% for post in posts %}
    {% if post.title %}
    <p>{{ post.date | date: "%Y.%m.%d" }} | <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>{% if post.author %} | {{ post.author }} {% endif %}</p>
    {% endif %}
    {% endfor %}
  {% endfor %}
  {% endfor %}


</div>

</div>
