---
layout: default
---

<div class="mdl-card mdl-cell mdl-cell--12-col postcard" align="start">
           <div class="mdl-card__media mdl-color-text--grey-50"
           style="{% if page.image %}background: linear-gradient( rgba(0, 0, 0, 0.4),
           rgba(0, 0, 0, 0.4) ), url('{{ page.image }}')center / cover;{% endif %}
           padding:16px;">
             <h3 style="color:white; padding-top:104px;">{{ page.title }}</h3>
           </div>
           <section class="content">
           <table><tr><td><i class="material-icons">today</i></td><td>{{ page.date | date: "%Y.%m.%d" }}</td></tr></table>
           <hr>
          {{ content }}
          <hr>
          <!-- 구글플러스 +1 버튼 -->
           <g:plusone></g:plusone><br>
          <!-- Facebook 좋아요 버튼 -->
          <div class="fb-like" data-href="{{ site.baseurl }}/{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br>
          <hr>
          {% for tag in page.tags %}
         <a class="card-content" href="{{ site.baseurl }}/tags/#{{ tag }}">
             <button class="mdl-button mdl-js-button mdl-js-ripple-effect">#{{ tag }}</button> </a>
         {% endfor %}
</section>
         </div>


                  <div class="mdl-card mdl-cell mdl-cell--12-col postcard content" align="start">
                 {% include disqus.html %}
                           </div>
                           <table align="center" style="padding-bottom:160px;">
                             <tr>
                               <td style="padding-right:16px;">
                                 <a href="{% if page.previous.url %}{{ site.baseurl }}/{{page.previous.url}}{% else %}{% endif %}" class="demo-nav__button">
                                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                     <i class="material-icons">arrow_back</i>
                                     </button>
                                       <b style="color:white;">Older</b>
                                   </a>
                                 </td>
                                 <td style="padding-left:16px;">
                                   <a href="{% if page.next.url %}{{ site.baseurl }}/{{page.next.url}}{% else %}{% endif %}" class="demo-nav__button">
                                    <b style="color:white;">Newer</b>
                                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                     <i class="material-icons">arrow_forward</i>
                                   </button>
                                  </a>
                                </td>
                              </tr>
                            </table>
